.field-item {
  display: flex;
  flex-direction: row;
  min-height: 50px;
  width: 100%;
  align-items: center;
}

.field-label {
  width: 25%;
  padding-right: 10px;
  font-weight: 500;
}

.field-text {
  width: 75%;
}
