<div class="bill-view">
  <div class="bill-titlebar">
    <div class="bill-title">
      <span>
        {{getTitle()}}
      </span>
    </div>
    <div class="bill-toolbar">
      <button mat-raised-button
              color="warn"
              class="toolbar-button"
              (click)="logout()">Wyloguj</button>
      <a mat-raised-button
         color="primary"
         class="toolbar-button"
         [routerLink]="['/zestawienie']"
         routerLinkActive="active">Zestawienie</a>
    </div>
  </div>

  <app-bill-edit class="bill-details"
                 [bill]="bill"
                 [editMode]="editMode"
                 [newBill]="newBill"
                 (loading)="onLoading($event)"></app-bill-edit>

  <app-schedules class="bill-schedules"
                 [billUid]="bill.uid"></app-schedules>

  <app-payments class="bill-payments"
                [billUid]="bill.uid"></app-payments>
</div>

<app-spinner color="primary"
             mode="indeterminate"
             [value]="50"
             [backdropEnabled]="true"
             [positionGloballyCenter]="true"
             [displayProgressSpinner]="loading">
</app-spinner>
