    <div class="dialog-title">
      {{dialogTitle}}
    </div>
    <mat-progress-bar *ngIf="loading"
                      mode="indeterminate">
    </mat-progress-bar>
    <ng-container>
      <app-input-date [formGroup]="form"
                      [path]="['deadline']"
                      tooltipText="Podaj termin płatności"
                      placeholderText="Termin płatności">
      </app-input-date>
      <app-input-date [formGroup]="form"
                      [path]="['paiddate']"
                      tooltipText="Podaj datę opłacenia rachunku"
                      placeholderText="Data opłacenia">
      </app-input-date>
      <app-input-text [formGroup]="form"
                      type="number"
                      [path]="['sum']"
                      tooltipText="Podaj kwotę do zapłacenia"
                      placeholderText="Kwota do zapłacenia">
      </app-input-text>
      <app-input-text [formGroup]="form"
                      type="number"
                      [path]="['share']"
                      tooltipText="Podaj kwotę jaka została zapłacona"
                      placeholderText="Kwota zapłacona / udział">
      </app-input-text>
      <app-input-text [formGroup]="form"
                      [path]="['remarks']"
                      tooltipText="Dodaj opcjonalny opis"
                      placeholderText="Opis / uwagi">
      </app-input-text>
    </ng-container>
    <div class="buttons-panel">
      <button mat-raised-button
              color="warn"
              class="toolbar-button"
              (click)="closeDialog()">Anuluj</button>
      <button mat-raised-button
              color="primary"
              class="toolbar-button"
              (click)="saveData()">Zapisz</button>
    </div>
