<div *ngIf="visible"
     class="form-item"
     [formGroup]="childFormGroup">
  <mat-form-field class="form-field">
    <mat-label>{{labelText}}</mat-label>
    <mat-pass-toggle-visibility #toggle
                                matSuffix></mat-pass-toggle-visibility>
    <input matInput
           #password
           [type]="toggle.type"
           [matTooltip]="tooltipText"
           [matTooltipShowDelay]="tooltipShowDelayValue"
           [matTooltipHideDelay]="tooltipHideDelayValue"
           [id]="fieldName"
           [formControlName]="fieldName">
    <mat-placeholder class="placeholder">{{placeholderText}}</mat-placeholder>
    <mat-error>
      {{getErrorMessage(path)}}
    </mat-error>
  </mat-form-field>
</div>
