<app-table #table
           [dataSource]="dataSource"
           [columnsDefinition]="columns"
           [expandable]="false"
           [editable]="true"
           [canAdd]="true"
           (rowActivated)="onRowActivated($event)"
           (refreshButtonClicked)="refresh()"
           (addButtonClicked)="addSchedule()"
           (editButtonClicked)="editSchedule()"
           (deleteButtonClicked)="deleteSchedule()"
           (rowDblClick)="editSchedule()">
  <ng-template #tableTitleTemplate>
    <span class="table-title">Planowane płatności</span>
  </ng-template>
  <ng-template cellTemplateForColumn="date"
               let-row="row">{{row.date | timespanToString}}</ng-template>
  <ng-template cellTemplateForColumn="sum"
               let-row="row">{{row.sum | currencyToString}}</ng-template>
</app-table>
