<app-table [dataSource]="dataSource"
           [columnsDefinition]="columns"
           [expandable]="false"
           [editable]="true"
           [canAdd]="true"
           (refreshButtonClicked)="refresh()"
           (addButtonClicked)="addDialog()"
           (editButtonClicked)="editDialog()">
  <ng-template #tableTitleTemplate>
    <span class="table-title">Planowane płatności</span>
  </ng-template>
  <ng-template cellTemplateForColumn="date"
               let-row="row">{{row.date | timespanToString}}</ng-template>
  <ng-template cellTemplateForColumn="sum"
               let-row="row">{{row.sum | currencyToString}}</ng-template>
</app-table>
