<div class="table-titlebar">
  <div class="table-title">
    Rachunki
  </div>
  <div class="table-toolbar">
    <button mat-raised-button
            color="warn"
            class="toolbar-button"
            (click)="logout()">Wyloguj</button>
    <a mat-raised-button
       color="primary"
       class="toolbar-button"
       [routerLink]="['/rachunek']">Nowy rachunek</a>
    <button mat-raised-button
            color="warn"
            class="toolbar-button"
            (click)="deleteBill()"
            [disabled]="!activeRow">Usuń rachunek</button>
  </div>
</div>

<app-table mat-table
           [dataSource]="dataSource"
           [columnsDefinition]="columns">
</app-table>
