<app-table #table
           [tableTitle]="'Rachunki'"
           [dataSource]="dataSource"
           [columnsDefinition]="columns"
           [editable]="true"
           [canAdd]="true"
           [showPasteButton]="false"
           (rowActivated)="onRowClicked($event)"
           (deleteButtonClicked)="deleteBill()"
           (editButtonClicked)="editBill()"
           (addButtonClicked)="addBill()"
           (refreshButtonClicked)="refresh()"
           (rowDblClick)="editBill()">

  <ng-template cellTemplateForColumn="name"
               let-row="row"
               let-column="column">
    <a [routerLink]="['/rachunek', getId(row)]"
       routerLinkActive="active"
       [ngStyle]="{'color': formatLinkColor(row) }">{{getValue(row, column)}}</a>
  </ng-template>

  <ng-template cellTemplateForColumn="deadline"
               let-row="row"><span [ngStyle]="{'color': formatColor(row) }">
      {{row.deadline | timespanToString}}
    </span>
  </ng-template>

  <ng-template cellTemplateForColumn="sum"
               let-row="row"><span [ngStyle]="{'color': formatColor(row) }">
      {{row.sum | currencyToString}}
    </span>
  </ng-template>

  <ng-template #rightToolbarPanelTemplate>
    <button mat-raised-button
            color="warn"
            class="toolbar-button"
            (click)="logout()">Wyloguj</button>
  </ng-template>

  <ng-template #expandedRowTemplate
               let-row="row">
    <app-bill-edit [newBill]="false"
                   [editMode]="false"
                   [bill]="row"
                   class="bill-details"></app-bill-edit>
  </ng-template>

</app-table>
