<div *ngIf="editMode"
     class="form-item"
     [formGroup]="formGroup">
  <mat-form-field class="form-field">
    <mat-label>{{labelText}}</mat-label>
    <input matInput
           [matDatepicker]="picker"
           [matTooltip]="tooltipText"
           [matTooltipShowDelay]="tooltipShowDelayValue"
           [matTooltipHideDelay]="tooltipHideDelayValue"
           [id]="fieldName"
           [formControlName]="fieldName">
    <mat-placeholder class="placeholder">{{placeholderText}}</mat-placeholder>
    <mat-datepicker-toggle matSuffix
                           [for]="picker">
    </mat-datepicker-toggle>
    <mat-datepicker #picker>
    </mat-datepicker>
  </mat-form-field>
</div>

<div *ngIf="!editMode"
     class="form-item">
  <mat-form-field class="form-field">
    <mat-label>{{labelText}}</mat-label>
    <input matInput
           [disabled]="true"
           [matTooltip]="tooltipText"
           [matTooltipShowDelay]="tooltipShowDelayValue"
           [matTooltipHideDelay]="tooltipHideDelayValue"
           [id]="fieldName">
    <mat-placeholder class="placeholder">{{placeholderText}}</mat-placeholder>
  </mat-form-field>
</div>
