.form-item {
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  align-items: center;
  height: 66px;
}

.placeholder {
  color: rgba(black, 0.5);
}

.form-field {
  flex-grow: 1;
}
