    <div class="form">
      <div class="form-column-left">
        <app-input-text [formGroup]="form"
                        [path]="['name']"
                        [descriptionProvider]="getDescriptionProvider()">
        </app-input-text>
        <app-input-text [formGroup]="form"
                        [path]="['description']"
                        [descriptionProvider]="getDescriptionProvider()">
        </app-input-text>
        <app-input-toggle [formGroup]="form"
                          [path]="['active']"
                          [descriptionProvider]="getDescriptionProvider()">
        </app-input-toggle>
        <app-input-date [formGroup]="form"
                        [path]="['deadline']"
                        [descriptionProvider]="getDescriptionProvider()">
        </app-input-date>
        <app-input-text [formGroup]="form"
                        type="number"
                        [path]="['repeat']"
                        [descriptionProvider]="getDescriptionProvider()">
        </app-input-text>
        <app-input-text [formGroup]="form"
                        type="number"
                        [path]="['unit']"
                        [descriptionProvider]="getDescriptionProvider()">
        </app-input-text>
        <app-input-date [formGroup]="form"
                        [path]="['reminder']"
                        [descriptionProvider]="getDescriptionProvider()">
        </app-input-date>
      </div>

      <div class="form-column-right">
        <app-input-text [formGroup]="form"
                        type="number"
                        [path]="['sum']"
                        [descriptionProvider]="getDescriptionProvider()">
        </app-input-text>
        <app-input-text [formGroup]="form"
                        type="number"
                        [path]="['share']"
                        [descriptionProvider]="getDescriptionProvider()">
        </app-input-text>
        <app-input-text [formGroup]="form"
                        [path]="['url']"
                        [descriptionProvider]="getDescriptionProvider()">
        </app-input-text>
        <app-input-text [formGroup]="form"
                        [path]="['login']"
                        [descriptionProvider]="getDescriptionProvider()">
        </app-input-text>
        <app-input-password [formGroup]="form"
                            [path]="['password']"
                            [descriptionProvider]="getDescriptionProvider()">
        </app-input-password>
      </div>
    </div>

    <div class="bill-toolbar">
      <button mat-raised-button
              color="accent"
              class="toolbar-button"
              (click)="cancel()">Anuluj</button>
      <button mat-raised-button
              color="warn"
              class="toolbar-button"
              (click)="deleteBill()">Usuń</button>
      <button mat-raised-button
              color="primary"
              class="toolbar-button"
              [disabled]="!canSave"
              (click)="saveBill()">Zapisz</button>
    </div>
