.form {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-content: stretch;
}

@media(min-width: 800px) {
  .form {
    flex-direction: row;
  }

  .form-column-left {
    width: 50%;
  }
}

@media(min-width: 800px) {
  .form {
    flex-direction: row;
  }

  .form-column-right {
    width: 50%;
  }
}

@media(max-width: 799px) {
  .form {
    flex-direction: column;
  }

  .form-column-left {
    width: 100%;
  }
}

@media(max-width: 799px) {
  .form {
    flex-direction: column;
  }

  .form-column-right {
    width: 100%;
  }
}

.form-column-left {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding-left: 20px;
  padding-right: 20px;
}

.form-column-right {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding-left: 20px;
  padding-right: 20px;
}

.bill-toolbar {
  width: 100%;
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px 20px 10px 20px;
}

.toolbar-button {
  margin-left: 5px;
  margin-right: 5px;
}
