<div *ngIf="visible"
     class="form-item"
     [formGroup]="childFormGroup">
  <mat-form-field class="form-field">
    <mat-label>{{labelText}}</mat-label>
    <mat-select [matTooltip]="tooltipText"
                [matTooltipShowDelay]="tooltipShowDelayValue"
                [matTooltipHideDelay]="tooltipHideDelayValue"
                [id]="fieldName"
                [formControlName]="fieldName">
      <mat-option *ngFor="let item of selectItems"
                  [value]="item.value">
        {{item.text}}
      </mat-option>
    </mat-select>
    <mat-error>
      {{getErrorMessage(path)}}
    </mat-error>
  </mat-form-field>
</div>
