<div class="parent">
  <app-spinner [loading$]="loading$"></app-spinner>
  <div class="container">
    <form (ngSubmit)="onLogIn(loginForm)"
          [formGroup]="loginForm"
          class="container form">
      <h2 class="message">Witamy w aplikacji Rachunki!</h2>
      <mat-form-field class="full-width">
        <input [formControl]="emailFormControl"
               matInput
               placeholder="Email"
               type="email"
               id="email"
               name="email">
        <mat-hint>Podaj login (adres email)</mat-hint>
        <mat-error *ngIf="emailFormControl.hasError()">
          {{getErrorMessage(emailFormControl)}}
        </mat-error>
      </mat-form-field>
      <mat-form-field class="full-width">
        <input [formControl]="passwordFormControl"
               matInput
               placeholder="Hasło"
               type="password"
               id="password"
               name="password">
        <mat-hint>Podaj hasło</mat-hint>
        <mat-error *ngIf="passwordFormControl.hasError()">
          {{getErrorMessage(emailFormControl)}}
        </mat-error>
      </mat-form-field>
      <br>
      <button mat-raised-button
              color="primary"
              type="submit"
              [disabled]="!loginForm.valid">Log In</button>
      <span *ngIf="error"
            class="error">{{error}}</span>
    </form>
  </div>
</div>
