    <div class="dialog-title">
      {{dialogTitle}}
    </div>

    <div class="confirm-message">
      {{message}}
    </div>

    <div>
      <app-input-text [path]="['email']"
                      [type]="'email'"
                      tooltipText="Podaj adres email - login do aplikacji"
                      placeholderText="Login (email)"
                      class="full-width">
      </app-input-text>
    </div>

    <div class="buttons-panel">
      <button mat-raised-button
              color="warn"
              class="toolbar-button"
              (click)="onCancel()">{{cancelButtonLabel}}</button>
      <button mat-raised-button
              color="primary"
              class="toolbar-button"
              (click)="onApply()">{{applyButtonLabel}}</button>
    </div>
