.buttons-panel {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
}

.toolbar-button {
  margin-left: 5px;
  margin-right: 5px;
}

.dialog-title {
  font-size: 24px;
  font-weight: 500;
  display: flex;
  align-items: center;
  padding-bottom: 10px;
}

.confirm-message {
  font-size: 16px;
  padding-bottom: 20px;
}
