<ng-template #defaultCellTemplate
             let-row="row"
             let-column="column">
  {{row[column]}}
</ng-template>

<div class="adva-table-header-row"
     *ngIf="!hideHeader">
  <span class="table-title">{{tableTitle}}</span>

  <div>
    <ng-container [ngTemplateOutlet]="toolbarPanelTemplate"
                  [ngTemplateOutletContext]="{dataSource: dataSource, activeRow: activeRow, $loading: isDataSourceLoading()}">
    </ng-container>
  </div>

  <mat-form-field class="filter-field"
                  *ngIf="showFilter">
    <input matInput
           [disabled]="isDataSourceLoading() | async"
           #filterInput
           (click)="$event.stopPropagation();"
           placeholder="Filter">
  </mat-form-field>

  <div class="buttons-panel">
    <button *ngIf="refreshButton"
            #refreshButton
            mat-icon-button
            disabled="false"
            matTooltip="Refresh"
            (click)="onRefreshClicked($event)">
      <span class="material-icons">refresh</span>
    </button>

    <button *ngIf="editButtonVisible"
            #editButton
            mat-icon-button
            disabled="true"
            matTooltip="Edit"
            (click)="onEditClicked($event)">
      <span class="material-icons">edit</span>
    </button>

    <button *ngIf="addButtonVisible"
            #addButton
            mat-icon-button
            matTooltip="Add"
            (click)="onAddClicked($event)">
      <span class="material-icons">add</span>
    </button>

    <button *ngIf="removeButtonVisible"
            #removeButton
            mat-icon-button
            disabled="true"
            matTooltip="Delete"
            (click)="onDeleteClicked($event)">
      <span class="material-icons">remove</span>
    </button>

    <ng-container *ngIf="exportable">
      <button [disabled]="isDataSourceLoading() | async"
              mat-icon-button
              matTooltip="Print"
              [ngStyle]="{'cursor' : 'pointer'}"
              (click)="onPrintClicked($event)">
        <span class="material-icons"
              inline=true>print</span>
      </button>

      <button [disabled]="isDataSourceLoading() | async"
              mat-icon-button
              class="material-icons"
              matTooltip="Export"
              [ngStyle]="{'cursor' : 'pointer'}"
              (click)="onExportClicked($event)">
        <span class="material-icons"
              inline=true>file_download</span>
      </button>
    </ng-container>

  </div>
</div>

<mat-progress-bar *ngIf="isDataSourceLoading() | async"
                  mode="indeterminate">
</mat-progress-bar>

<table #table
       mat-table
       [dataSource]="dataSource"
       matSort
       multiTemplateDataRows
       [matSortActive]="sortActive"
       [matSortDirection]="sortDirection"
       [attr.data-ready]="dataReady">

  <ng-container matColumnDef="{{column.name}}"
                *ngFor="let column of columnsDefinition">

    <ng-container *ngIf="column.name !== '_expand'">
      <th mat-header-cell
          *matHeaderCellDef
          mat-sort-header
          [disabled]="!sortable || !column.sort">
        {{column.header}}
      </th>
      <td mat-cell
          *matCellDef="let row; let rowIndex = dataIndex;">
        <ng-container [ngTemplateOutlet]="getCellTemplate(column.name, defaultCellTemplate)"
                      [ngTemplateOutletContext]="{row: row, column: column.name, rowIndex: rowIndex}">
        </ng-container>
      </td>
    </ng-container>

    <ng-container *ngIf="column.name === '_expand'">
      <th mat-header-cell
          *matHeaderCellDef
          class="expand-column"></th>
      <td mat-cell
          *matCellDef="let row; let rowIndex = dataIndex;"
          (click)="onRowExpandClick(row)">
        <span *ngIf="expandedRow !== row"
              [ngClass]="shouldExpandBeDisabled(row) ? 'expand-column-disabled' : 'expand-column'">keyboard_arrow_right</span>
        <span *ngIf="expandedRow === row"
              class="expand-column">keyboard_arrow_down</span>
      </td>
    </ng-container>

  </ng-container>

  <ng-container matColumnDef="expandedDetail">
    <td mat-cell
        *matCellDef="let row"
        [attr.colspan]="columnsDefinition.length">
      <div [class.active-row-detail]="activeRow === expandedRow"
           [class.expand-row-detail]="activeRow !== expandedRow"
           [@detailExpand]="row === expandedRow ? 'expanded' : 'collapsed'">
        <ng-container *ngIf="row === expandedRow"
                      [ngTemplateOutlet]="expandedRowTemplate"
                      [ngTemplateOutletContext]="{row: row}">
        </ng-container>
      </div>
    </td>
  </ng-container>

  <tr mat-header-row
      *matHeaderRowDef="columnsNames; sticky: true"></tr>
  <tr mat-row
      *matRowDef="let row; let rowIndex = dataIndex; columns: columnsNames;"
      class="row-row"
      [class.active-row]="activeRow === row && activeRow !== expandedRow"
      [class.active-row-expanded]="activeRow === row && activeRow === expandedRow"
      [class.odd-row]="rowIndex % 2 === 1"
      [class.even-row]="rowIndex % 2 === 0"
      (click)="onRowClick(row)"
      (dblclick)="onRowDblClick(row)">
  </tr>
  <tr mat-row
      *matRowDef="let row; columns: ['expandedDetail']"
      class="expanded-row">
  </tr>
</table>
